@import './custom.less';

@banner0: banner0;
.@{banner0} {
  &-wrapper {
    background-image: url("../../../assets//banner_imnature.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    min-height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .@{banner0} {
    &-wrapper {
      min-height: 300px;
    }
  }
}