<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mỹ phẩm I'm Nature - Vẻ đẹp thật sự đến từ thiên nhiên</title>

  <meta title="Mỹ phẩm I'm Nature - Vẻ đẹp thật sự đến từ thiên nhiên">
  <link rel="stylesheet" href="/index.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
